body{
	width: 80%;
	margin: auto;
	font-family: arial;

}

.container{
	margin-top: 100px;
	width: 100%;
}

#option_div #option_textbox{
	width: 82%;
	float: left;
	height: 30px;
	margin-bottom: 10px;
}

.addBtn{
	width: 16%;
	float: right;
	height: 35px;
}

#display_div{
	width: 90%;
}

#display_div td{
	width: 80%;
	border: 1px solid #ddd;
}

#display_div tr:nth-child(even){
	background-color: #f2f2f2;
}

#display_div tr:hover(even){
	background-color: #ddd;
}
